body {
	
}

#main {
	padding: 20px;
}

input {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	/** disable btn of number input */
	-webkit-appearance: none;
	margin: 0;
}

#seatMap {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	position: relative;
	background-color: #F8E0E6;
	margin: auto;
	width: 600px;
	height: 400px;
}

.furnish {
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	font-size: 28px;
	font-weight: bolder;
	color: red;
	vertical-align: middle;
	display: table-cell;
	color: white;
	cursor: pointer;
}

#garbageBlock {
	height: 40px;
	width: 100%;
	margin: auto;
	background-color: #f0f0f0;
	opacity: 0.7;
	padding-top: 13px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

///////////
#orderListInfo {
	word-wrap: break-word;
}

#sendOrder {
	padding-left: 15px;
	padding-right: 15px;
}

#option {
	margin-bottom: 15px;
}

.label-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
	position: absolute;
	top: -5px;
	right: -10px;
}

.diningTable {
	background-image: url("../images/table-sm.png");
}

.emptyTable {
	background-image: url("../images/empty-table-sm.png");
}


.default-none {
	display: none;
}

.shortInput {
	width: 100px;
}

.float-left {
	float: left;
	padding: 5px;
}

.disableSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
}

.mapOption {
	cursor: pointer;
}

#imageSelection {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #f0f0f0;
}

#orderPageInner, #checkOutTab, #customerInfoTab {
	padding: 10px;
}

#loginPage {
	height: 100vh;
}