#main {
	padding: 20px;
}

input {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

#orderListInfo {
	word-wrap: break-word;
}

#sendOrder {
	padding-left: 15px;
	padding-right: 15px;
}

#seatMap  {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	width: 800px;
	height: 600px;
	position: relative;
}

.fourPeopleSeat {
/* 	width: 100px; */
/* 	height: 100px; */
/* 	border: 1px solid #000000; */
/* 	position: absolute; */
/* 	top: 50px; */
/* 	left: 50px; */
}

.twoPeopleSeat {
/* 	width: 50px; */
/* 	height: 100px; */
/* 	border: 1px solid #000000; */
/* 	-ms-transform: rotate(90deg); IE 9 */
/* 	-webkit-transform: rotate(90deg); Chrome, Safari, Opera */
/* 	transform: rotate(90deg); */
}