#main {
	padding: 20px;
}

input {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	/** disable btn of number input */
	-webkit-appearance: none;
	margin: 0;
}

#orderListInfo {
	word-wrap: break-word;
}

#sendOrder {
	padding-left: 15px;
	padding-right: 15px;
}

#seatMap {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	width: 800px;
	height: 600px;
	position: relative;
	margin-top: 10px;
}

#saveSeatMap, #deleteTable, #imageSelection, #emptytableIconMD {
	display: none;
}