#main {
	padding: 20px;
}

input {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

#orderListInfo {
	word-wrap: break-word;
}

#sendOrder {
	padding-left: 15px;
	padding-right : 15px;
}

@media (min-width: 992px)
.modal-lg
{
    width: 1024px;
    height:1024px; /* control height here */
}